/* Tablet (768px – 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    /* section 2 */
    .st2-title-top p {
        font-size: 25px;
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translate(-45%, 30%);
    }

    .st2-title-black {
        font-size: 17px;
        margin-top: 10px;
    }

    .st2-voucher-hover p {
        font-size: 13px;
    }

    /* section 3 */

    .st3-title-top p {
        font-size: 25px;
        top: 50%;
        left: 54%;
        width: 35%;
        transform: translate(-45%, 0%);
    }

    /* selection 4 */
    .st4-title-top-1 p {
        font-size: 23px;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-43%, 0%);
    }

    .st4-title-top-2 p {
        font-size: 23px;
        top: 50%;
        left: 54%;
        width: 35%;
        transform: translate(-60%, -65%);
    }

    /* section 5 */
    .st5-title-top p {
        font-size: 20px;
        top: 50%;
        left: 60%;
        width: 60%;
        transform: translate(-60%, -10%);
    }

}