/* Mobile (dưới 768px) */
@media (max-width: 767px) {

    /* section 2 */
    .st2-title-top p {
        position: static !important;
        top: auto;
        left: auto;
        width: auto;
        transform: none;
    }

    .st2-title-black {
        font-size: 15px;
    }

    .st2-voucher-hover p {
        font-size: 15px;
    }

    .st3-title-top p {
        margin-top: 120px !important;
        margin-bottom: 0px;
        position: static !important;
        top: auto;
        left: auto;
        width: auto;
        transform: none;
    }

    /* section 4 */
    .st4-title-top-1 p {
        margin-bottom: 0px;
        position: static !important;
        top: auto;
        left: auto;
        width: auto;
        transform: none;
    }

    .st4-title-top-2 p {
        margin-bottom: 0px;
        position: static !important;
        top: auto;
        left: auto;
        width: auto;
        transform: none;
    }

    /* section 5 */
    .st5-title-top p {
        margin-bottom: 0px;
        position: static !important;
        top: auto;
        left: auto;
        width: auto;
        transform: none;
    }

}

/* @media (min-width: 550px) and (max-width: 770px) {
    .st2-voucher-hover p {
        font-size: 13px;
    }
} */