/* Tablet (768px – 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    /* section 2 */
    .st2-title-top p {
        font-size: 25px;
        top: 58%;
        left: 23%;
    }

    /* .st2-text-black {
        font-size: 19px;
    } */
    .st2-title-black {
        font-size: 13px;
        margin-top: 10px;
    }

    .st2-voucher-hover p {
        font-size: 13px;
    }

    /* section 3 */
    /* .st3-title-top {
        position: absolute;
        color: #FFFB78;
        font-style: italic;
        font-size: 30px;
        text-shadow: -2px -2px 0 #FF6A00, 2px -2px 0 #FF6A00, -2px 2px 0 #FF6A00, 2px 2px 0 #FF6A00;
        font-weight: 700;
        top: 45%;
        left: 40%;
    } */

    .st3-title-top p {
        font-size: 25px;
        top: 49%;
        left: 42%;
    }

    /* selection 4 */
    .st4-title-top-1 p {
        font-size: 23px;
        top: 55%;
        left: 27%;
    }

}