/* Mobile (dưới 768px) */
@media (max-width: 767px) {

    /* section 2 */
    .st2-title-top p {
        position: sticky !important;
        font-size: 30px;
    }

    .st2-img-top {
        display: none;
    }

    .st2-title-black {
        font-size: 15px;
    }

    .st2-voucher-hover p {
        font-size: 15px;
    }

    .st3-title-top p {
        position: static !important;
        font-size: 30px;
        margin-top: 120px !important;
    }

    /* section 4 */
    .st4-title-top-1 p {
        position: static !important;
        font-size: 30px;
    }

    .st4-title-top-2 p {
        position: static !important;
        font-size: 30px;
        margin-top: -50px;
    }

    /* section 5 */
    .st5-title-top p {
        position: static !important;
        font-size: 30px;
    }

}

/* @media (min-width: 550px) and (max-width: 770px) {
    .st2-voucher-hover p {
        font-size: 13px;
    }
} */